<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        <div class="logo">
            <a href="{{ path('home') }}">
                <img style="height: 45px; width: auto" src="{{ asset('img/logo_f1.png') }}" alt="">
            </a>
        </div>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="active"><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('event_list') }}">GRAND PRIX</a></li>
                </ul>
            </nav>
            <a href="#" class="primary-btn top-btn"><i class="fa fa-ticket"></i> LOGIN</a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
